body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-size: 30px;
    position: relative;
    top:-60px;
}

.container {
    width: 400px;
    background-color: rgb(44, 44, 44);
    margin: 50px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 700px;
    
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(247, 250, 253);
}

.options {
    margin-bottom: 20px;
}

.option {
    width: 100%;
    padding: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
}

.option:hover {
    background-color: rgb(189, 189, 189);
}

.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile span {
    display: block;
    
}

.agree {
    font-size: 14px;
    margin-top: 20px;
    color: aliceblue;
}

.agree a {
    text-decoration: underline;
    color: #007bff;
}