body{
    background-color: rgb(30, 29, 29);

}
.navbar{
    position:fixed;
    left: 0px;
    top: 0%;
    overflow: hidden;
    width: 1480px;
    height: 70px;
    background-color:black;
    z-index: 9999;
}
#homel:hover{
    border-bottom:3px solid white;
    border-radius: 3px;
    border-bottom-width: 4px;
    padding-bottom: 5px
}
#homel{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    top:-3px;
    left:300px;
}
#moviesl:hover{
    border-bottom:3px solid white;
    border-radius: 3px;
    border-bottom-width: 4px;
    padding-bottom: 5px
}
#moviesl{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    top:-3px;
    left:390px;
}
.searchbar{
    position: relative;
    width: 500px;
    border: 0px;
    height: 27px;
    border-radius: 3px;
}
.search{
    position: relative;
    background-color: white;
    width: 27px;
    right:85px;
    border: 0px;
    top: 12px;
    border-radius: 2px;
}
.SearchBar{
    position:absolute;
    right:60px;
    top: 12px;
}
#slp{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    color: white;
    left: 23px;
    top:5px;
}
.signin:hover{
    color:#303243;
    background-color: white;
}
.signin{
    position: absolute;
    background-color:black;
    border: 0px;
    right: 0px;
    color:white;
    top: 0px;
    height: 70px;
    width: 100px;
    font-size: 20px;
}
#logo{
    position: absolute;
    top:-20px;
    left: 10px;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size:35px;
}
.poster:hover{
    transform: scale(1.2);
    top: 100px;
    border: 10px solid #252529;
}
.poster{
    transition: transform 0.2s;
    position: relative;
    width: 200px;
    top:100px;

}
.sidep{
    position: fixed;
    left: 0px;
    top:70px;
    width: 5%;
    height: 100%;
    background-color:black;

    color: white;
}
#m1{
    position: absolute;
    left: 250px;
    top:560px;
    height:300px;
}
#m2{
    position: absolute;
    top:560px;
    left: 500px;
    height: 300px;
}
#m3{
    position: absolute;
    top:560px;
    left: 750px;
    height: 300px;
}
#m4{
    position: absolute;
    top:560px;
    left: 1000px;
    height: 300px;
}
#m5{
    position: absolute;
    top:560px;
    left: 1250px;
    height: 300px;
}
#m6{
    position: absolute;
    top:920px;
    left: 250px;
    height: 300px;
}
#m7{
    position: absolute;
    top:920px;
    left: 500px;
    height: 300px;
}
#m8{
    position: absolute;
    top:920px;
    left: 750px;
    height: 300px;
}
#m9{
    position: absolute;
    top:920px;
    left: 1000px;
    height: 300px;
}
#m10{
    position: absolute;
    top:920px;
    left: 1250px;
    height: 300px;
}
#pic{
    position: absolute;
    width: 64%;
    height: 400px;
    left: 360px;
    top:90px;
    border: 15px solid white;
}
#home:hover{
    border-bottom:3px solid white;
    border-radius: 3px;
    border-bottom-width: 4px;
    padding-bottom: 5px;
    }
#home{
    position: absolute;
    width: 40px;
    left:15px;
    top:80px
    
}
#popular:hover{
    border-bottom:3px solid white;
    border-radius: 3px;
    border-bottom-width: 4px;
    padding-bottom: 5px;
    }
#popular{
    position: absolute;
    width: 50px;
    left:13px;
    top:160px;

}
#movies:hover{
    border-bottom:3px solid white;
    border-radius: 3px;
    border-bottom-width: 4px;
    padding-bottom: 5px;
    }
#movies{
    position: absolute;
    width: 40px;
    left:18px;
    top:240px; 
}
#info:hover{
    border-bottom:3px solid white;
    border-radius: 3px;
    border-bottom-width: 4px;
    padding-bottom: 0spx;
    }
#info{
    position: absolute;
    width: 40px;
    left:18px;
    bottom:100px;

}
